PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/task3?replicaSet=rs0
JWT_SECRET=supersecretjwtkey_change_in_production
JWT_EXPIRE=7d
GEMINI_API =AQ.Ab8RN6LJHKPbUwyQK84xCfEbMIroYSXYq2a5SaUDHx5T-NIdzg
